<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-size">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">Products</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/products/cpu" 
                class="nav-link text-white" 
                [ngClass]="isActive('/products/cpu') ? 'active' : ''"
                (click)="setProductByType('cpu')">
                <svg class="bi me-2" width="16" height="16"></svg>
                CPU
            </a>
        </li>
        <li>
            <a routerLink="/products/ram" 
                class="nav-link text-white" 
                [ngClass]="isActive('/products/ram') ? 'active' : ''"
                (click)="setProductByType('ram')">
                <svg class="bi me-2" width="16" height="16"></svg>
                RAM
            </a>
        </li>
        <li>
            <a routerLink="/products/motherboard" 
                class="nav-link text-white" 
                [ngClass]="isActive('/products/motherboard') ? 'active' : ''"
                (click)="setProductByType('motherboard')">
                <svg class="bi me-2" width="16" height="16"></svg>
                Motherboard
            </a>
        </li>
        <li>
            <div class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"></svg>
                <input class="search-input" type="search" placeholder="Search" (keyup)="search($event)">
                By
                <label for="searchByName">Name</label>
                <input type="radio" 
                        name="search-option" 
                        id="searchByName" 
                        value="Name" 
                        [checked]="true"
                        (click)="deleteInputContent()">
                or
                <label for="searchByBrand">Brand</label>
                <input type="radio" 
                        name="search-option" 
                        id="searchByBrand" 
                        value="Brand"
                        (click)="deleteInputContent()">
            </div>
        </li>
    </ul>
</div>
