<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-size">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/admin/users"
                class="nav-link text-white"
                [ngClass]="isActive('/admin/users') ? 'active' : ''">
                <svg class="bi me-2" width="16" height="16"></svg>
                Handle users
            </a>
        </li>
        <li>
            <a routerLink="/admin/products/add"
                class="nav-link text-white"
                [ngClass]="isActive('/admin/products/add') ? 'active' : ''">
                <svg class="bi me-2" width="16" height="16"></svg>
                Add new product
            </a>
        </li>
        <li>
            <a routerLink="/admin/products/update"
                class="nav-link text-white"
                [ngClass]="isActive('/admin/products/update') ? 'active' : ''">
                <svg class="bi me-2" width="16" height="16"></svg>
                Update product
            </a>
        </li>
    </ul>
</div>
