<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products/cpu">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">User if logged in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Login or Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>