<div class="row mt-3">
    <div class="col-md-12">
        <label class="labels">Product Name</label>
        <input type="text" class="form-control" placeholder="Product Name" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Brand</label>
        <input type="text" class="form-control" value="" placeholder="Brand">
    </div>
    <div class="col-md-12">
        <label class="labels">Image URL</label>
        <input type="text" class="form-control" placeholder="Image URL" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Acquisition Price</label>
        <input type="text" class="form-control" placeholder="Acquisition Price" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Sell Price</label>
        <input type="text" class="form-control" placeholder="Sell Price" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Product Type</label>
        <input type="text" class="form-control" placeholder="Product Type" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Number of USB3 Ports</label>
        <input type="text" class="form-control" placeholder="Number of USB3 Ports" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">WIFI</label>
        <input type="text" class="form-control" placeholder="WIFI" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Size Standard</label>
        <input type="text" class="form-control" placeholder="Size Standard" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">CPU Socket Type</label>
        <input type="text" class="form-control" placeholder="CPU Socket Type" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Memory Socket Type</label>
        <input type="text" class="form-control" placeholder="Memory Socket Type" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Max Memory Size</label>
        <input type="text" class="form-control" placeholder="Max Memory Size" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Number of Memory Sockets</label>
        <input type="text" class="form-control" placeholder="Number of Memory Sockets" value="">
    </div>
</div>