.img-container{
    display: flex;
    justify-content: center;
    
    .image{
        max-width: 700px;
        height: auto;
        width: 100vh;
        margin-top: 10px;
    }
}

.details-content{
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;

    .space-div{
        width: 30px;
    }

    .details-cards{
        min-width: 300px;
    }
}

.no-product-container{
    display: flex;
    justify-content: center;

    .no-product-message{
        max-width: 700px;
        height: auto;
        width: 100vh;
        text-align: center;
        font-size: 22px;
        background-color:lightblue;
        margin-top: 50px;
    }
}
