<div class="row mt-3">
    <div class="col-md-12">
        <label class="labels">Product Name</label>
        <input type="text" class="form-control" placeholder="Product Name" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Brand</label>
        <input type="text" class="form-control" value="" placeholder="Brand">
    </div>
    <div class="col-md-12">
        <label class="labels">Image URL</label>
        <input type="text" class="form-control" placeholder="Image URL" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Acquisition Price</label>
        <input type="text" class="form-control" placeholder="Acquisition Price" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Sell Price</label>
        <input type="text" class="form-control" placeholder="Sell Price" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Product Type</label>
        <input type="text" class="form-control" placeholder="Product Type" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">GB</label>
        <input type="text" class="form-control" placeholder="GB" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Delay</label>
        <input type="text" class="form-control" placeholder="Delay" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Speed</label>
        <input type="text" class="form-control" placeholder="Speed" value="">
    </div>
    <div class="col-md-12">
        <label class="labels">Socket Type</label>
        <input type="text" class="form-control" placeholder="Socket Type" value="">
    </div>
</div>
