<form [formGroup]="ramForm">
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="labels" for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" formControlName="productName">
        </div>
        <div class="col-md-12">
            <label class="labels" for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" formControlName="brand">
        </div>
        <div class="col-md-12">
            <label class="labels" for="imgURL">Image URL</label>
            <input type="text" class="form-control" id="imgURL" formControlName="imgURL">
        </div>
        <div class="col-md-12">
            <label class="labels" for="acquisitionPrice">Acquisition Price</label>
            <input type="text" class="form-control" id="acquisitionPrice" formControlName="acquisitionPrice">
        </div>
        <div class="col-md-12">
            <label class="labels" for="sellPrice">Sell Price</label>
            <input type="text" class="form-control" id="sellPrice" formControlName="sellPrice">
        </div>
        <div class="col-md-12">
            <label class="labels" for="productType">Product Type</label>
            <input type="text" class="form-control" id="productType" formControlName="productType">
        </div>
        <div class="col-md-12">
            <label class="labels" for="gb">GB</label>
            <input type="text" class="form-control" id="gb" formControlName="gb">
        </div>
        <div class="col-md-12">
            <label class="labels" for="delay">Delay</label>
            <input type="text" class="form-control" id="delay" formControlName="delay">
        </div>
        <div class="col-md-12">
            <label class="labels" for="speed">Speed</label>
            <input type="text" class="form-control" id="speed" formControlName="speed">
        </div>
        <div class="col-md-12">
            <label class="labels" for="socketType">Socket Type</label>
            <input type="text" class="form-control" id="socketType" formControlName="socketType">
        </div>
    </div>
</form>
